# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.ipa
*.zip

# CocoaPods
# Pods/

# Fastlane
fastlane/screenshots/**/*.png
fastlane/screenshots/**/*.jpg
fastlane/report.xml
fastlane/*.png
fastlane/*.jpg
fastlane/*.jpg
fastlane/*.itmsp/
fastlane/Preview.html
